@font-face {
    font-family: 'Porter_Sans_Block';
    src: url(../Assets/Fonts/porter_sans_block/porter-sans-inline-block-webfont.ttf);
    font-weight: bold;
}

.HHcontainer {

    display: flex;
    background-image: url(../assets/images/homePageHeader.png);
    background-size: cover;
    height: 100vh;
    justify-content: flex-start;
    flex-direction: column;
    
}

.Header-Text h1 {
    font-family: "Porter_Sans_Block", sans-serif;
}

.topNav {
    
   /* padding: 20px;
    border: 0px;
    margin-top: 20px;

    width: 80%;
    background-color: rgb(255, 255, 255,.6);
    border-radius: 30px;*/
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 17px;
    margin-top: 20px ;
    margin-left: auto;
    margin-right: auto;
    padding: 16px;
    background-color: #fff7e6d4;
    border-radius: 30px; 
}

.flex-Item a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    width: 100px;
    display: inline-block;
    text-align: center;
    font-family: 'Roboto';
    font-size: x-large;
    font-weight: bold;
    overflow: hidden;
}
    

.flex-Item p1:hover{
    background-color: rgb(190, 190, 190);
}

.flex-Item p {
    background-color: white;
    padding-left: 20px;
    padding-right: 200px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0px;
    margin: 0px;
    border-radius: 10px;

    align-items: center;
    

    font-size: larger;
    font-family: "Roboto";
    font-weight: regular;

}

.flexContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;

}

.Header-Text h1 {
    padding-top: 60vh;
    padding-left: 150px;
    font-family: "Porter_Sans_Block";
    font-weight: bold;
    font-size: 45px;
    color: #af0002;

}

.Header-Text h2 {
    font-family: "Roboto";
    color: #15006F;
    padding: 0px;
    border: 0px;
    margin: 0px;
    padding-left: 150px;
}

.Featured-Trips-Container {
    background-color: #3e058f;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 200px;
    display: flex;
}

.Featured-Trips-Container p {
    padding-left: 180px;
    margin-top: 50px;
    color:white; 

    background-color: transparent;

    font-family: "Roboto";
    font-weight: bolder;
    font-size: x-large;
    
}

.Featured-Trips-Container h1 {
    font-family: "Roboto";
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 180px;
    font-weight: bolder;
    font-size: 50px;
}

.Featured-Trips-Container p2 {
    margin-left: 180px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;

    color: white;
    background-color: #af0002;

    font-family: "Roboto";
    font-weight: bolder;
    font-size: x-large;

    border-radius: 10px;
}

.Our-Shuttles-Container {
    background-color: white;
    margin-left: 200px;
    height: 60vh;
    display: flex;
    align-items: center;
}

.Our-Shuttles-Container h1 {
    font-family: "Roboto";
    font-weight: bolder;
    font-size: x-large;
    color: #71003f;
    
    margin-top: 50px;
}

.Our-Shuttles-Container h2 {
    font-family: "Roboto";
    font-weight: bolder;
    font-size: xxx-large;
    color: #3e058f;
    
    margin-top: 20px;
    margin-right: 180px;
}

.Our-Shuttles-Container p {
    font-family: "Roboto";
    font-weight: 400;
    font-size: x-large;
    color: #71003f;
}

.Sneak-Peak-Container {
    font-family: "Roboto";
    background-color: #3e058f;
    height: 100vh;
    text-align: center;

}

.Sneak-Peak-Container h1 {
    padding-top: 50px;
    font-size: x-large;
    color: #ff96c1;
    margin-bottom: 2vh;
}

.Sneak-Peak-Container h2 {
    margin-left: auto;
    margin-right: auto;
    font-size: 50px;
    color: white;
    margin-bottom: 4vh;
}

.SP-Img-FlexContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
}

.SP-Img-FlexContainer img {
    margin-bottom: 2vh;
}

.Img-Flex h3 {
    font-size: xx-large;
    color: white;
}

.Img-Flex p {
    margin-top: 10px;
    color: white;
}

.Sneak-Peak-Container button {
    align-self: center;
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 15px;
    border: 0px;
    
    background-color: #af0002;
}

.Sneak-Peak-Container p2 {
    color: white;
    font-size: x-large;
    font-weight: bolder;
}

.Footer-BG {
    background-color: white;
    height: 50vh;
}

.Footer-Flex-Container {
    font-family: "Roboto";
    display: flex;
    justify-content: space-between;
    padding-left: 250px;
    padding-right: 250px;
    padding-top: 70px;
}

.Flex-FooterItem p {
    padding-top: 10px;
    font-size: x-large;
    font-weight: 400;
    color: #727272;
} 

.Flex-FooterItem h1 {
    color: rgb(48, 48, 48);
    font-size: x-large; 
    font-weight: bolder;
    margin-bottom: 50px;
}

.Flex-FooterItem a {
    text-decoration: none;
} 

.Flex-Footer-Img {
    display: flex;
    justify-content: space-between;
    width: 480px;
}

.Flex-Footer-Img img {
    width: 100px;
}

.Footer-Extras p {
    width: 80%; 
    height: 2px;
    background-color: rgb(209, 209, 209); 
    margin-left: auto; 
    margin-right: auto;
    margin-bottom: 35px;
}


.Footer-Extras p1 {
    color: #6e6e6e;
    margin-left: 10%;
}

.Footer-Extras p2 {
    color: #6e6e6e;
    font-weight: bold;
    float: right;
    margin-right: 10%;
}

/*Flights*/

.F-HH-Container {
    display: flex;
    background-image: url(../assets/images/headerbackBack.png);
    background-size: cover;
    height: 50vh;
    justify-content: flex-start;
    flex-direction: column;

}

.flex-Item h1 { /* Flights Heading*/
    font-family: "Porter_Sans_Block";
    font-size: 45px;
    color: white; 
    text-align: center;
    padding-top: 8vh;
}

.flex-Item h2 { /* Flights widgets block */
    background-color: #3e058f;
    margin-top: 5em;
    height: 100px;
    font-family: "Roboto";
    font-size: x-Large;

    display: flex;
    align-items: center;
}

.Icon-Item {
    padding-left: 20px;
    padding-right: 20px;
}

.Empty-x-Box {
    width: 3px;
    height: 35px;
    background-color: #a7a7a7;
}

.Empty-y-Box {
    width: 100%;
    height: 3px;
    background-color: #a7a7a7;
}

.Icon-Item p3{
    color: white;
}

.White-TextBox {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    background-color: #fff7e6d4;

}

.Planet-Options-BG {
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
}

.Planet-Option-Container {
    background-color: white;
    height: 70vh;
    margin-left: auto;
    margin-right: auto;
    width: 80%;

    display: flex;
    justify-content: space-around;
}

.Planet-Option-Container h1 {
    font-family: "Roboto";
    font-size: 50px;
    text-align: left;
}

.Planet-flex-Item img {
    width: 600px;
}

.Money {
    font-family: "Roboto";
    font-size: 30px;
    text-align: left;
    font-weight: bold;
    color: #6e6e6e;
}

.Money price {
    padding-right: 40px;
}

.Stars {
    display: flex;
    margin-top: 10px;
}

.Stars img {
    width: 25px;
    padding: 10px;

}

.Stars p1 {
    font-family: "Roboto";
    font-size: 20px;
    text-align: left;
    font-weight: bold;
    color: #6e6e6e;
    padding-left: 10px;
    margin-top: 10px;
}

.Planet-flex-Item p {
    font-family: "Roboto";
    font-size: 20px;
    text-align: left;
    font-weight: 400;
    color: #000000;
}

.Booking-Buttons {
    margin-top: 5vh;
    display: flex;
}

.Booking-Buttons button1 {
    width: 20%;
    border: 0px;
    background-color: #3e058f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}

.Booking-Buttons p {
    color: white;
    font-weight: bolder;
    font-size: 20px;
}

.Booking-Buttons button2 {
    width: 30%;
    border: 0px;

    background-color: #af0002;
    border-radius: 10px;

    margin-left: 10%;
}

.Lower-Planet-Info {
    display: flex;
    flex-direction: row;

    color: #6e6e6e;
    font-weight: bolder;
    font-size: 25px;
}

.Lower-Planet-Info-Item {
    display: flex;
    flex-direction: column;
}

/*Contact*/

.About-BG {
    height: 80vh;
    font-family: "Roboto";
    display: flex;
    align-items: center;
    justify-content: center;
}

.About-FlexContainer {
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.About-FlexContainer h1 {
    color: #71003f;
    font-size: 20px;
    margin: 0px;
}

.About-FlexContainer h2 {
    font-size: 50px;
    font-weight: Bolder;
    color: #15006F;
    margin-top: 10px;
}

.About-FlexContainer p {
    font-size: 20px;
    font-weight: 400;
    color: #6e6e6e;
    margin-top: 20px;
}

.Contact-Form-BG {
    font-family: "Roboto";
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.Contact-FlexContainer {
    display: flex;
    justify-content: space-between;
}

.Contact-FlexContainer h1 {
    color: #71003f;
    font-size: 20px;
    margin: 0px;
    
}

.Contact-FlexContainer h2 {
    font-size: 50px;
    font-weight: Bolder;
    color: #15006F;
    margin-top: 10px;
}

.Contact-FlexContainer iframe {
    border-radius: 20px;
}

.Contact-FlexItem {
    width: 50%;
}

.Form-BG {
    background-image: url(../Assets/Images/formBack.png); 
    background-size: cover; 
    height: 100vh; 
    border-radius: 50px;

}

.Form-Field input {
    margin-left: 10%;
    border: 5px;
    outline: none;
    width: 80%;
    height: 100px;
    border-radius: 30px;
    margin-bottom: 3%;
    margin-top: 1%;
    font-size: large;
    color: #000000;
}

.Form-Field label {
    color: white;
    font-size: 20px;
    margin-left: 10%;
}



.Form-Field p {
    font-size: 30px;
    font-weight: bold;
    width: 40%;
    color: white;

    margin-left: 10%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: #af0002;
    border-radius: 30px;
}
